@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blinkit-green: #0c831f;
  --blinkit-yellow: #f8cb46;
}

body {
  @apply bg-gray-50 text-gray-900 antialiased;
}

.budget-range-input::-webkit-slider-thumb {
  pointer-events: auto;
  appearance: none;
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  border: 2px solid var(--blinkit-green);
  background: white;
  cursor: pointer;
}

.budget-range-input::-moz-range-thumb {
  pointer-events: auto;
  height: 1rem;
  width: 1rem;
  border-radius: 9999px;
  border: 2px solid var(--blinkit-green);
  background: white;
  cursor: pointer;
}
